@import "tailwindcss";

@theme inline {
  --color-background: #131313;
  --color-foreground: #fff;
  --color-forest: #002f03;
  --color-volt: #00ff12;
  --color-light-gray: #ededed;
  --color-muted: #a0a0a0;
  --color-muted-2: #9f9f9f;
  --color-border-light: #efefef;
  --color-link: #4400ff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #131313;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "proxima-nova", sans-serif;
}

/* Typekit fonts */
.font-gin {
  font-family: "gin", sans-serif;
}

.font-proxima {
  font-family: "proxima-nova", sans-serif;
}
